# Copy this file to .env and fill in your values
FOOTBALL_DATA_API_KEY=your_api_key_here
DEBUG=False
TANK01_NFL_API_KEY=your_tank01_api_key_here
TANK01_NFL_API_KEY_2=your_tank01_api_key_here
TANK01_NFL_API_KEY_3=your_tank01_api_key_here

# OpenF1 API configuration (Formula 1)
OPENF1_BASE_URL=BASE_URL_HERE

UMAMI_SCRIPT_URL=Tracking_script_url_here
UMAMI_WEBSITE_ID=your_website_id_here
